*,
*:after,
*:before {
    box-sizing: border-box;
}

.link {
    text-decoration: none;
}

.link--active {
    cursor: default;
    pointer-events: none;
}

.card__image-wrapper {
    width: 140px;
    height: 112px;
    display: flex;
    justify-content: center;
}

.card__image {
    align-self: flex-end;
}
